@model Post

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalhe do post</title>
</head>
<body>
    <form action="/Post/Altera" method="post">

        <input type="hidden" name="id" value="@Model.Id" />
        <input type="hidden" name="datapublicacao" value="@Model.DataPublicacao" />

        <label for="titulo">Título:</label>
        <input id="titulo" name="titulo" 
               required
               maxlength="50"
               value="@Model.Titulo" />
        @Html.ValidationMessage("titulo")
        <br />

        <label for="resumo">Resumo:</label>
        <input id="resumo" name="resumo" 
               required
               maxlength="255"
               value="@Model.Resumo" />
        @Html.ValidationMessage("resumo")
        <br />

        <label for="categoria">Categoria:</label>
        <input id="categoria" name="categoria" value="@Model.Categoria" />
        @Html.ValidationMessage("categoria")
        <br />

        <label>
            <input type="checkbox" name="publicado" value="true" checked="@Model.Publicado" />
            Publicado
        </label>
        <br />

        <button type="submit">Gravar</button>
    </form>
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    <script>
        $("form").validate();
    </script>
</body>
</html>
