@model Post
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Novo Post - Resenha Cultural</title>
</head>
<body>
    <form action="/Post/Adiciona" method="post">
        <label for="titulo">Título:</label>
        <input id="titulo" name="titulo" 
               maxlength="50"
               required
               placeholder="Título do post..." 
               value="@Model.Titulo" />
        @Html.ValidationMessage("titulo")
        <br />

        <label for="resumo">Resumo:</label>
        <input id="resumo" name="resumo" 
               maxlength="255"
               required
               placeholder="Resumo do post..." 
               value="@Model.Resumo" />
        @Html.ValidationMessage("resumo")
        <br />

        <label for="categoria">Categoria:</label>
        <input id="categoria" name="categoria" placeholder="Categoria do post..." value="@Model.Categoria" />
        @Html.ValidationMessage("categoria")
        <br />

        <button type="submit">Gravar</button>
    </form>
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    <script>
        $("form").validate();
    </script>
</body>
</html>
